@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

body {
  @apply transition-colors duration-300;
}

/* Custom Scrollbar for Dark Mode */
.dark ::-webkit-scrollbar {
  width: 10px;
}

.dark ::-webkit-scrollbar-track {
  @apply bg-zinc-950;
}

.dark ::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded-full border-2 border-zinc-950 hover:bg-zinc-700;
}
